## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,78.8,57,40,13.80,scattered clouds
1,1,Outram,MY,1.2829,103.8379,77.0,88,75,6.91,broken clouds
2,2,Busselton,AU,-33.6500,115.3333,64.0,88,98,1.01,light rain
3,3,Kalispell,US,48.1958,-114.3129,44.6,49,1,13.80,clear sky
4,4,Juneau,US,58.3019,-134.4197,37.4,87,90,11.50,light rain

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) 
                                    & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,78.80,57,40,13.80,scattered clouds
1,1,Outram,MY,1.2829,103.8379,77.00,88,75,6.91,broken clouds
2,2,Busselton,AU,-33.6500,115.3333,64.00,88,98,1.01,light rain
6,6,Boa Vista,BR,2.8197,-60.6733,86.00,48,75,16.11,broken clouds
7,7,Bambous Virieux,MU,-20.3428,57.7575,78.80,78,75,8.05,broken clouds
9,9,Dingle,PH,10.9995,122.6711,75.31,89,95,6.85,light rain
10,10,Mahibadhoo,MV,3.7833,72.9667,81.82,70,99,10.00,overcast clouds
11,11,Tartagal,AR,-22.5164,-63.8013,83.19,53,30,2.89,scattered clouds
13,13,Cacule,BR,-14.5033,-42.2222,73.78,68,90,8.39,overcast clouds
15,15,Hilo,US,19.7297,-155.0900,77.00,65,75,16.11,light rain

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                377
City                   377
Country                370
Lat                    377
Lng                    377
Max Temp               377
Humidity               377
Cloudiness             377
Wind Speed             377
Current Description    377
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df.count()

City_ID                370
City                   370
Country                370
Lat                    370
Lng                    370
Max Temp               370
Humidity               370
Cloudiness             370
Wind Speed             370
Current Description    370
dtype: int64

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cockburn Town,TC,78.80,scattered clouds,21.4612,-71.1419,
1,Outram,MY,77.00,broken clouds,1.2829,103.8379,
2,Busselton,AU,64.00,light rain,-33.6500,115.3333,
6,Boa Vista,BR,86.00,broken clouds,2.8197,-60.6733,
7,Bambous Virieux,MU,78.80,broken clouds,-20.3428,57.7575,
9,Dingle,PH,75.31,light rain,10.9995,122.6711,
10,Mahibadhoo,MV,81.82,overcast clouds,3.7833,72.9667,
11,Tartagal,AR,83.19,scattered clouds,-22.5164,-63.8013,
13,Cacule,BR,73.78,overcast clouds,-14.5033,-42.2222,
15,Hilo,US,77.00,light rain,19.7297,-155.0900,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row['Lat']
    lng=row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [29]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']
clean_hotel_df.count()

City                   342
Country                342
Max Temp               342
Current Description    342
Lat                    342
Lng                    342
Hotel Name             342
dtype: int64

In [30]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))